[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npx nest build"]

[start]
cmd = "npx prisma migrate deploy && node dist/main"
